.advantages {
    display: block;
}

.advantages__item {
    width: 100%;
}

.advantages__item:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
}

.advantages__title {
    font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: var(--secondary-accent-color);
}

// .advantages__title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--secondary-accent-color);
//     margin-bottom: 10px;
//     width: 270px;
// }

.advantages__description {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-accent-color);
}

.advantages__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--fourth-accent-color);
}

.advantages__icon {
    fill: var(--secondary-accent-color);
}

@media screen and (min-width: 768px) {
    .advantages {
        display: flex;
        flex-wrap: wrap;
    }
    .advantages__item {
        width: 354px;
    }
    .advantages__item:nth-child(odd) {
        margin-right: 30px;
    }
    .advantages__item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
    .advantages__box {
        width: 354px;
    }
    .advantages__icon {
        text-align: left;
    }
}

