.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    // margin-right: 92px;
}
@media screen and (min-width: 768px) {
.logo {
    margin-right: 0;
}
}


.logo__dark {
    color: var(--primary-logo-color-theme-light);
}

.logo__light {
    color: var(--primary-logo-color-theme-dark);
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 31px;
    }
}